version: 1
disable_existing_loggers: False

formatters:
  standard:
    format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"

handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: standard
    stream: ext://sys.stdout

loggers:
  tf_strategy:
    level: DEBUG
    handlers: [console]
    propagate: False

  __main__:
    level: DEBUG
    handlers: [console]
    propagate: False

root:
  level: WARNING
  handlers: []
